.inputStyle{
    width: 100%;
        font-size: 24px;
        color: rgb(40, 40, 40);
        border: lightgrey;
        outline: none;
        border-radius: 8px;
        padding-left: 12px;
}
.inputForm {
    width: 100%;
}