.no-todos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	height: 40vh;
	padding: 2rem;

  &__image {
		width: 240px;
	}

	&__title {
		margin: 0;

		text-align: center;
		font-size: 1.5rem;
		font-weight: 400;
	}
}