.hidden {
  display: none;
}

li:hover span {
  display: flex;
  align-items: center;
}

.hidden-chkbx{
  opacity: 0.3
}

li:hover input {
  opacity: 1
}

input {
  margin-right: 10px;
}

@media (hover: none) {
  .hidden {
    display: block;
  }
}

.task-completed{
  text-decoration: line-through; 
  opacity: 0.4;
}