@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

.task {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(80, 77, 77, 0.63);
  padding: 5px 20px;

  .taskControllers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .title {
    color: grey;
    font-weight: bold;
  }

  .done {
    opacity: 0.5;
    color: green;
  }
}

