.hidden {
  display: none;
}

li:hover span {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden-chkbx {
  opacity: 0.3;
}

li:hover input {
  opacity: 1;
}

input {
  margin-right: 10px;
  &:checked {
    opacity: 1;
  }
}

@media (hover: none) {
  .hidden {
    display: block;
  }
}

.task-completed {
  text-decoration: line-through;
  font-weight: lighter;
  color: lightgrey;
}

span {
  font-size: 39px;
}
