.input {
	appearance: none;
	
	width: 100%;
	padding: 0.5rem;

	border-radius: 0.25rem;
	border: none;
	outline: none;

	[data-ui-theme='dark'] & {
		background: rgba(64,64,64,0.5);
		color: white;

		&::placeholder {
			color: rgba(255,255,255, 0.75)
		}
	}

	&:focus,
	&:hover {
		box-shadow: inset 0 0 2px lightgray;
	}

	&--wrong {
		box-shadow: inset 0 0 4px red !important;
	}
}