
.checkbox-round {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 10px 10px 0px 10px;
}

.checkbox-round:checked {
    background: linear-gradient(140deg, rgba(82, 120, 202, 1) 0%, rgba(159, 124, 234, 1) 100%);
    content: "✔";
    color: white;
}

.form-control{
    border: none;
    margin-top: 10px;
}

.borders {
    width: 600px;
    height: 60px;
    border-bottom: 0.5px solid #d3d3d3;
}
.btn {
    border: none;
    margin-right: 50px;
    justify-content: flex-end;
}




