.delete-task {
  visibility: hidden;
  cursor: pointer;
}

.list-element:hover .delete-task {
  visibility: visible;
}

.new-todo {
  border-width: 0px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 3rem;
}