.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	min-height: 8vh;
	padding: 1rem;

	background-color: white;
	box-shadow: 0 0px 1px rgba(0,0,0,0.25);

	&--done {
		background: linear-gradient(135deg, rgba(62,141,180,0.125) 0%, rgba(236,41,251,0.125) 100%);
	}

	&__button {
		border: none;
		outline: none;
		background: none;

		cursor: pointer;
		user-select: none;

		&--round {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 2rem;
			height: 2rem;
			min-width: 2rem;

			border-radius: 50%;
			box-shadow: 0 0 4px rgba(0,0,0,0.25);
			background: white;
		}

		&--round:hover {
			background: linear-gradient(135deg, rgba(62,141,180,0.5) 0%, rgba(236,41,251,0.5) 100%);
			color: white;
		}

		&--active {
			background: linear-gradient(135deg, rgba(62,141,180,1) 0%, rgba(236,41,251,1) 100%);
			color: white;
		}
	
		&--show-check::after {
			content: '\2713';
		}

		&--show-cross::after {
			content: '\00d7';
		}

		&--field {
			width: 100%;
			padding: 0.5rem;

			text-align: left;

			border-radius: 0.25rem;
		}

		&--field:hover {
			box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
			background: linear-gradient(135deg, rgba(62,141,180,0.25) 0%, rgba(236,41,251,0.25) 100%);
			color: white;
		}

		&--strikethrough {
			color: gray;
			text-decoration: line-through;
		}
	}
}