.buttonCheck {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid red;
  margin-right: 0.5rem;
  cursor: pointer;
}

button[type="button"] > div {
  background-color: blue;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.svg-inline--fa,
.checkTrue {
  font-size: 0.75rem;
  color: white;
}
