.buttonCheck {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid red;
  margin-right: 0.5rem;
  cursor: pointer;
}
button[type="button"] > div {
  background-color: blue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.svg-inline--fa,
.checkTrue {
  font-size: 0.75rem;
  color: white;
}
