.buttonCheck {
  height: 20px;
  width: 20px;
  border: 2px outset;
  border-radius: 50%;
  background: rgb(90, 163, 251);
  background: linear-gradient(
    128deg,
    rgba(90, 163, 251, 1) 0%,
    rgba(216, 69, 252, 1) 100%
  );
  margin-right: 0.5rem;
  cursor: pointer;
}

button[type="button"] > div {
  background: rgb(90, 163, 251);
  background: linear-gradient(
    128deg,
    rgba(90, 163, 251, 1) 0%,
    rgba(216, 69, 252, 1) 100%
  );
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svg-inline--fa,
.checkTrue {
  font-size: 0.75rem;
  color: white;
}
