.todo-list-section {
  height: 400px;

  .list-wrapper {
    overflow: scroll;
    flex-grow: 1;
    .no-todos {
      width: 100%;
      height: 100%;

      svg {
        width: 60%;
        height: auto;
      }
    }
  }
}
