.todo-list {
  border-radius: 5px;
  padding: 0;
  margin: 0;
  min-height: 18rem;
}

.todo-list li {
  height: 3rem;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  padding: 0 1rem;
  margin: 0;
}