.list-container{
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  max-height: 40vh;
  display: flex;
  ul {
    line-height: 300%;
    overflow-y: scroll;
    flex-grow: 1;
    flex-basis: 0;
    list-style-type: none;
    vertical-align: top;
    width: 16%;
    li {
      &:hover {
        font-weight: 500;
      }
      border: 1px solid lightgrey;
    }
  }
}