@mixin input-reset {
	border: none;
	outline: none;
}

@mixin input-template($width: 100%, $height: auto, $padding: 0, $margin: 0, $radius: 0, $text-color: grey, $border-color: grey, $bg-color: white) {
	width: $width;
	height: $height;
	padding: $padding;
	margin: $margin;

	font-size: 0.8rem;
	font-weight: 300;

	background-color: $bg-color;
	color: $text-color;
	border-radius: $radius;
	border-width: 1px;
	border-style: solid; 
	border-color: $border-color;
	outline: none;

	&:focus {
		border-color: color.scale($border-color, $lightness: -20%);
	}
}