@mixin hr-template($stroke: 2px, $line-color: gray, $text-color: gray, $text-padding: 0.75rem, $font-size: 1rem, $font-weight: 600) {
	display: flex;
	justify-content: center;
	align-items: center;

	& > :nth-child(1),
	& > :nth-child(3) {
		flex-grow: 1;
		flex-shrink: 1;
		background-color: $line-color;
		height: $stroke;
	}

	& > :nth-child(2) {
		padding: $text-padding;
		flex-grow: 0;
		flex-shrink: 0;
		color: $text-color;
		font-size: $font-size;
		font-weight: $font-weight;
		text-align: center;
	}
}