/* ==== Font Typescales ==== 

* minor-second -> 		1.067;
* major-second -> 		1.125;
* minor-third -> 			1.2;
* major-third -> 			1.25;
* perfect-fourth -> 	1.333;
* augmented-fourth -> 1.414;
* perfect-fifth -> 		1.5;
* golden-scale -> 		1.618;

*/

@use "vendors";
@use "base";
@use "abstracts";

@use "utilities" with (

	// Variables for breakpoints.scss
	$sm: 576px,
	$md: 768px,
	$lg: 992px,
	$xl: 1200px,
	$xxl: 1400px,

	// Variables for color.scss
	$colors: (
		"blue":  			#0d6efd,
		"indigo": 		#6610f2,
		"purple": 		#6f42c1,
		"pink":				#d63384,
		"red":				#dc3545,
		"orange": 		#fd7e14,
		"yellow": 		#ffc107,
		"green":  		#198754,
		"teal":   		#20c997,
		"cyan":   		#0dcaf0,
		"transparent": 	transparent,
	),
	
	// Variables for font.scss
	$font-size-base: 1rem,
	$font-size-scale: 1.25,

	// Variables for spacing.scss
	$spacer-gap: 0.25rem,
	$spacer-iterations: 10,

	// Variables for radius.scss
	$radius-gap: 0.125rem,
	$radius-iterations: 10,
);