@use "./partials/colors" as c;
@use "./partials/typography" as t;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  transition: 0.4s;

  ::placeholder {
    // color: #7e76b7;
    color: lightgray;
    opacity: 1;
  }

  :disabled {
    background-color: transparent;
  }
  // outline: 2px red solid;
}

body {
  height: 100vh;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .general-background {
    height: 100vh;

    .top-background {
      height: 100vh;
      position: relative;
      .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          90deg,
          #b62b86,
          #9f589e,
          #7e76b7,
          #3a8fd1
        );

        mix-blend-mode: multiply;
        opacity: 85%;
        z-index: 1;
      }
      .img-background {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .bottom-background {
      background-color: c.$lightBgColor;
      flex-grow: 1;
      &-dark {
        background-color: c.$darkBgColor;
      }
    }
  }
  .main-container {
    position: absolute;
    z-index: 1;
    width: 40%;
    min-width: 350px;
    height: fit-content;
    margin-bottom: 110px;

    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      .main-header-title {
        font-weight: 300;
      }

      button {
        background: none;
        outline: none;
        border: none;
        color: inherit;
        i {
          cursor: pointer;
          font-size: 24px;
        }
      }
    }

    .custom-section {
      border-radius: 5px;
      -moz-box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.6);
      -webkit-box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.6);
      box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.6);
      background-color: white;

      &-dark {
        color: white;
        border: 1px solid white;
        box-shadow: none;
        background-color: c.$darkBgColor;
      }
    }
  }
}
