// nav {
//   li {
//     font-weight: 500;
//     list-style: none;
//     cursor: pointer;
//   }

//   li:hover {
//     color: #505050;
//   }

//   .navigation {
//     color: #a8a8a8;
//   }

//   .navigation:hover {
//     text-decoration: none;
//     color: #505050;
//   }

  .active {
    color: #5278ca;
    text-align: center;
  }
// }