.home {
  width: 100%;
  height: 100%;
}

.upper_home {
  background-image: url("../../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fit;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.central_home {
  margin-top: 50px;
}
