@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-dark { color: rgb(0, 0, 0); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }

* {
  /* outline: solid red 1px; */
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin gridSquare {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.mainBackground {
  background-color: rgb(235, 235, 235);
}

.whiteBg {
  background-color: rgb(255, 255, 255);
}

.allWidth {
  width: 100vw;
}
.minHeight {
  min-height: 100vh;
}

.gridBody {
  @include gridSquare();
  padding-top: 5vh;
  z-index: -100;
  overflow-x: hidden;
}

.gridMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 80px;
  justify-content: center;
  width: 80%;
  height: fit-content;
  max-width: 600px;
  margin: 0 auto;
  z-index: 100;
  padding: 1%;
  overflow-x: hidden;
  margin-bottom: 5vh;
  section {
    height: fit-content;
  }
}

.roundedCorner {
  border-radius: 5px;
  overflow: hidden;
}

.shadow {
  box-shadow: 5px 10px #888888;
}

.flowScroll {
  overflow-y: scroll;
}

.flowScroll::-webkit-scrollbar {
  background-color: rgb(206, 206, 206);
  width: 5px;
}

.flowScroll::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  width: 5px;
}

.margBot {
  margin-bottom: 20px;
}
