body{
    background-color: rgba(176, 196, 222, 0.096);
}
p{
    margin: 0;
}

h1{
    margin-bottom: 5rem;
    border-radius: 10px;
}

.container-lg{
    background-color: white;
    border-radius: 10px;
}





