.bgPicture {
  background-color: white;
  position: absolute;
  transform: translateY(-10vh);
  z-index: 50;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  //mix-blend-mode: luminosity;
  background-color: #a675ef;
}

.bgImg {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: luminosity;
  opacity: 0.5;
}
