.todo__input {
  font-weight:800;
  width: 100% !important;
  border: none;
}

form{
  width: 90%;
}

.todo__input::placeholder {
  opacity:0.5;
}

.todo__checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-top: 5px;


    &:checked{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    background-color: #7b5ee7;
  }

}

