li {
  width: inherit;
  background-color: transparent;
  border-bottom: #dadce0 1.8px solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
li:hover {
  .prueba {
    display: block;
  }
}
