.main__todo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.7rem;

  &__close {
    opacity: 0.7;
    display: none;
  }

  &__check {
    display: flex;
    align-items: center;
    width: inherit;

    button {
      margin: 0;
      padding: 0.7rem;
      background: transparent;
      border: none;
      width: inherit;
      text-align: start;
    }
  }
}

.main__todo:hover .main__todo__close {
  display: block;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
