.todo {
  width: 100%;
  span {
    display: flex;
    input {
      align-self: center;
      margin-left: 20px;
    }
    p {
      align-self: center;
      margin: 0 0 0 20px;
      font-size: 13px;
    }
    .completed {
      text-decoration: line-through;
    }
  }
}

.todoRight {
  display: flex;
  align-items: center;
  .editBtn {
    width: 40px;
    fill: #a1a9a9;
  }
}
