.todo-list {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

ul {
  width: 100%;
  list-style: none;
}

li.img {
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-bottom: #dadce0 1.8px solid;
}
img {
  width: 400px;
  max-height: 400px;
}
.text {
  //position: absolute;
  //top: 50%;
  //right: 15%;
  color: #612fb5;
}
.svg {
  color: #612fb5;
  font-size: 1.2rem;
}
