// @use "./global.scss" as global;
.header {
  height: 33vh;
  width: 100%;
  background-image: url('./header.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}
