.header-logo {
  height: 70px;
  margin-bottom: 30px;
}

.without-border {
  border: 0;
}

.without-background {
  background-color: transparent;
}

.icon {
  width: 30px;
  height: 30px;
}

.logo-todo {
  font-size: 45px;
  font-weight: 700;
}
