.round-checkbox {
  position: relative;
  & input[type="checkbox"]:not(:checked) + label:hover {
    border: 4px solid;
    border-color: rgb(66, 126, 179);
  }
  & input[type="checkbox"]:checked + label:hover {
    border: 1px solid;
    border-color: rgb(20, 71, 116);
  }
  & label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    &:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }
  & input[type="checkbox"] {
    visibility: hidden;
  }
  & input[type="checkbox"]:checked + label {
    background: linear-gradient(
      -45deg,
      rgb(149, 184, 214),
      rgb(66, 126, 179),
      white
    );
  }
  & input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}
