@mixin focusNone {
  box-shadow: none !important;
}
.addTodo {
  form {
    display: flex;
    input {
      padding: 30px;
      width: 500px;
      border-radius: 5px;
      border: none;
      outline: none;
      &:focus {
        @include focusNone();
      }
    }
    .addBtn {
      margin-left: -40px;
      display: inline;
      background-color: rgba(174, 210, 235, 0.427);
      color: aliceblue;
      width: 40px;
      &:focus {
        @include focusNone();
      }
    }
    .updateBtn {
      background-color: rgba(194, 136, 194, 0.68);
      color: aliceblue;
    }
  }
}

@media screen and (max-width: 550px) {
  .addTodo input {
    max-width: 500px;
    min-width: 300px;
    background-color: blue;
  }
}
