.todo-filter{
	display: flex;
	justify-content: center;
	gap: 1rem;

	&__link {
		&--selected {
			color: rgb(39, 94, 121);
			font-weight: 600;
		}

		&:hover {
			color: rgba(62,141,180,1);
		}
	}
}