footer > div {
  border-radius: 0px 0px 5px 5px ;
  box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 24px;
  display: flex;
  font-size: small;
  justify-content: flex-end;
  button {
    border: 0;
    background: transparent;
    &:hover {
      font-weight: bold;
    }
  }
  link:hover {
    color: black;
  }
}

.active {
  color: rgb(191, 39, 211);
}
