.gridMode {
  display: grid;
  grid-template-columns: auto 40px;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.big-title {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 12px;
}
