.checkbox {
	&__input {
		position: absolute;
		cursor: pointer;
		opacity: 0;
	}

	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: 2rem;
		height: 2rem;
		
		cursor: pointer;
		user-select: none;

		border-radius: 50%;
		font-size: 1.25rem;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);

		&--checked {
			background: linear-gradient(147deg, rgba(62,141,180,1) 0%, rgba(236,41,251,1) 100%);;
		}
	}

	&__checkmark {
		display: block;

		width: 90%;
		height: 90%;
		
		border-radius: 50%;
		text-align: center;
		color: white;
		background: white;

		&--checked {
			background: transparent;
		}
	}
}
