@import "../../../App.scss";

.footerStyle {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  height: 50px;
  align-items: center;
  .links {
    color: #212529;
    &:hover {
      color: $mainPurple;
    }
  }

  .filtered {
    color: $mainPurple;
  }
  .footerBtn {
    border: none;
    background-color: inherit;
    display: inline-block;
    color: #212529;
    &:hover {
      text-decoration: underline;
      color: #007bff;
    }
  }
}
