.app-background {
	background-image: url("./img/john-towner-JgOeRuGD_Y4-unsplash.jpg");
	background-size: cover;	
	background-repeat: no-repeat;
	
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}

.app-todo {
	box-shadow: 0 0 4px rgba(0,0,0,0.25);
	border-radius: 0.25rem;
	overflow: hidden;
	background: rgba(255,255,255,0.75);

	transition: background 0.25s ease-in-out, color 0.25s ease-in-out;

	[data-ui-theme='dark'] & {
		background: rgba(0,0,0,0.5);
		color: white;
	}
}