@use "assets/styles/_typography.scss" as fonts;

body {
  margin: 0;
  font-family: fonts.$mainFont;
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("assets/img/header-background.jpeg");
  background-size: 100% 25vh;
  background-repeat: no-repeat;
  height: 100vh;
  #root {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

header {
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
