@use "assets/styles/_typography.scss" as fonts;
@use "assets/styles/_variables.scss" as variables;

header {
  position: absolute;
  height: 25vh;
  width: 100vw;
  z-index: -1;
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("assets/img/header-background.jpeg");
  background-size: auto;
  background-position-x: center;
  background-position-y: 60%;
  background-repeat: no-repeat;
}
main {
  max-width: 80%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    letter-spacing: 0.7rem;
    color: white;
    font-weight: 550;
    font-size: 2.5rem;
    align-self: flex-start;
  }
}

article {
  margin: 15px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}

fieldset {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  background-color: white;

  input {
    width: 80%;
    border: none;
  }

  .inputCheck {
    background: white;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    appearance: none;
    border: 2px solid #eaeaec;
  }
  .inputCheck:hover {
    border: 3px solid variables.$gradient;
  }

  .inputCheck:checked {
    background: variables.$gradient;
  }
}
