@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #FFFEFF;
    letter-spacing: 1rem;
    margin-bottom: 0;
}

.main-width {
    max-width: 40rem;
}

.list-container {
    border-radius: 5px;
}