body {
  background-color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*outline: 1px solid black;*/
}

.heroImg {
  height: 33vh;
  width: 100vw;
  margin: 0;
  display: grid;
  place-content: center;
  background: linear-gradient(
      135deg,
      hsl(348, 97%, 63%, 0.65),
      hsl(230, 96%, 62%, 0.65)
    ),
    url("./img/hero.jpg");
  background-position: center;
}

.TODO {
  &__Header {
    margin-bottom: 20px;
    width: 500px;
    letter-spacing: 10px;
    color: white;
  }

  &__Form {
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
  }

  &__New {
    height: 55.4px;
    width: 440px;
    border: none;
    outline: none;
  }
}
