@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("https://cdn.pixabay.com/photo/2017/03/19/12/44/banner-2156399_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #213F5D;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  color: rgba(37, 37, 37, 0.808);
  margin: 0 auto;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 560px) {
  .root {
    width: 100%;
  }
}