@use "assets/styles/_typography.scss" as fonts;
@use "assets/styles/_variables.scss" as variables;
body {
  background-color: #fafafa;
  margin: 0;
  font-family: fonts.$mainFont;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
