.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: -1;

  &--top {
    position: relative;
    height: 40%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      -webkit-box-reflect: below 0px
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
  }
  &--bottom {
    flex-grow: 1;
    position: relative;
    z-index: -1;
  }
}

.main {
  margin: auto;

  max-width: 40%;
  display: flex;
  flex-direction: column;
  &--header {
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    h1 {
      color: white;
      font-weight: 300;
    }
    button {
      background-color: transparent;
      border: none;
      border-radius: 50%;

      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.todo__body {
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 30px rgb(68 68 68 / 60%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 28rem;
  margin-top: 1rem;
  padding: 0;
}
