@use "colors";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  // overflow-x: hidden;
  // outline: 1px solid red !important;
}

body {
  background-image: url("./img/background.jpg");
  background-position: top;
  background-color: colors.$body-background;
  background-repeat: no-repeat;
}

main {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;

  .container {
    position: relative;
    top: 5vh;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .header {
      width: 100%;
      display: flex;
      color: white;
      font-size: 3rem;
      font-weight: bold;

      .title {
        width: 90%;
        letter-spacing: 0.8rem;
      }

      .dark-mode {
        display: flex;
        width: 10%;
        justify-content: center;
        align-items: center;
      }
    }

    .new-todo {
      margin-top: 3rem;
      background-color: colors.$main-background;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 1rem;
      width: 100%;
      margin-bottom: 2rem;

      input[type="radio"] {
        height: 16px;
        width: 16px;
        background-color: #eee;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
footer {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}
