* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  // outline: 1px solid red !important;
}

body {
  background-image: url("./img/background.jpg");
  background-position: top;
  background-color: gray;
  background-repeat: no-repeat;
}

main {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;

  .container {
    position: relative;
    top: 10vh;
    width: 600px;
    height: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
