@use "colors";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("./img/background.jpg");
  background-position: top;
  background-color: colors.$body-background;
  background-repeat: no-repeat;
  width: 100vw;
}

main {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;

  .container {
    position: relative;
    top: 5vh;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .shadow {
      background-color: rgba(128, 128, 128, 0);
      border-radius: 8px;
      box-shadow: 0px 5px 50px 3px rgba(128, 128, 128, 0.432);
    }
  }
}
footer {
  background-color: #fff;
  border-radius: 0 0 8px 8px;

  .count {
    width: 15%;
  }

  .pages {
    width: 66%;
    display: inline-flex;
    justify-content: center;

    .page {
      width: fit-content;
    }
  }

  .delete-completed {
    width: 19%;
  }
}
