.navbar-nav .nav-link {
  padding: 10px;
  color: var(--gray-dark);
  text-decoration: underline;
  
  &:hover {
    color: var(--secondary);
  }
}
.btn.btn-primary {
  border-color: var(--purple);
  background-color: var(--purple);

  &:active {
   background-color: #815fc0 !important;
   border-color: #815fc0 !important; 
  }
}