.list-group-item+.list-group-item {
  border-top-width: 1px;
  margin-bottom: 7.5px;
}
.done {

  border-color: green;
  opacity: 0.75;

  .input-task {
    text-decoration: line-through;
  }
  
}

.input-task {
  border: none
}