.background {
  z-index: -1;
}

.background-img {
  background-image: linear-gradient(90deg, rgba(184, 100, 240, 0.7) 0%, rgba(131, 156, 249, 0.7) 100%), url("../../assets/img/1051-4928x3264.jpg") ;
  width: 100%;
  height: 35%;
  background-size: cover;
  background-position: center;
}

.background-img-dark {
  background-image: linear-gradient(90deg, rgba(93, 30, 136, 0.7) 0%, rgba(48, 70, 151, 0.7) 100%), url("../../assets/img/1051-4928x3264.jpg") ;
}